@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Root System */
:root {
  /* Color Style */
  --color-background: linear-gradient(
    180deg,
    #fbf9fb -18.37%,
    rgba(234, 248, 251, 0.855267) 196.32%
  );
  --color-white: #ffffff;
  --color-black: rgba(41, 45, 50, 1);
  --color-secondary: rgba(49, 186, 200, 1);
  --color-active: rgba(241, 254, 255, 1);

  /* Typography Style */
  --font-typography: "Poppins", sans-serif;
  --font-weight-bold: 700;
}

* {
  background: var(--color-primary);
  font-family: var(--font-typography);
}

.aside {
  background: var(--color-white);
  position: absolute;
  height: 100%;
  width: 221px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
