<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/output.css" rel="stylesheet" />
    <link rel="icon" href="../static/img/icon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Web Inventory-Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex h-full flex-col font-['Lexend']">
    <div class="container block">
      <header class="py-10">
        <div class="mx-5 max-w-7xl px-4 sm:px-6 lg:px-8">
          <nav class="relative z-50 flex justify-between">
            <div class="flex items-center md:gap-x-12">
              <a
                aria-label="Home"
                href="#"
                class="font-display mx-auto max-w-4xl text-xl font-bold tracking-tight text-slate-900"
              >
                Web
                <span class="relative whitespace-nowrap text-blue-600"
                  ><svg
                    aria-hidden="true"
                    viewBox="0 0 418 42"
                    class="absolute left-0 top-2/3 h-[0.58em] w-full fill-blue-300/70"
                    preserveAspectRatio="none"
                  >
                    <path
                      d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
                    ></path></svg
                  ><span class="relative">Inventory</span></span
                ></a
              >
            </div>
            <div class="flex items-center gap-x-5 md:gap-x-8">
              <div class="hidden md:block">
                <a
                  href="/login"
                  class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900"
                  >Masuk</a
                >
              </div>
              <a
                href="/registrasi"
                class="group inline-flex items-center justify-center rounded-full bg-blue-600 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-500 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 active:bg-blue-800 active:text-blue-100"
                href="/registrasi"
                ><span>Registrasi Sekarang</span
                ><span class="hidden lg:inline"></span
              ></a>
              <div class="-mr-1 md:hidden">
                <div data-headlessui-state>
                  <button
                    class="relative z-10 flex h-8 w-8 items-center justify-center [&:not(:focus-visible)]:focus:outline-none"
                    aria-label="Toggle Navigation"
                    type="button"
                    aria-expanded="false"
                    data-headlessui-state
                    id="headlessui-popover-button-:r14:"
                  >
                    <svg
                      aria-hidden="true"
                      class="h-3.5 w-3.5 overflow-visible stroke-slate-700"
                      fill="none"
                      stroke-width="2"
                      stroke-linecap="round"
                    >
                      <path
                        d="M0 1H14M0 7H14M0 13H14"
                        class="origin-center transition"
                      ></path>
                      <path
                        d="M2 2L12 12M12 2L2 12"
                        class="origin-center scale-90 opacity-0 transition"
                      ></path>
                      <path
                        d="M0 1H14M0 7H14M0 13H14"
                        class="origin-center transition"
                      ></path>
                      <path
                        d="M2 2L12 12M12 2L2 12"
                        class="origin-center scale-90 opacity-0 transition"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <main>
        <div
          class="mx-auto max-w-7xl px-4 pb-16 pt-20 text-center sm:px-6 lg:px-8 lg:pt-32"
        >
          <h1
            class="font-display mx-auto max-w-4xl text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl"
          >
            Mulai
            <span class="relative whitespace-nowrap text-blue-600"
              ><svg
                aria-hidden="true"
                viewBox="0 0 418 42"
                class="absolute left-0 top-2/3 h-[0.58em] w-full fill-blue-300/70"
                preserveAspectRatio="none"
              >
                <path
                  d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
                ></path></svg
              ><span class="relative">inventaris</span></span
            >
            barang anda
          </h1>
          <p
            class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700"
          >
            Jalankan Bisnis Anda dengan Inventaris yang Tertata Rapi<br />
            <a
              href="https://elearning.ftti.unjaya.ac.id/course/view.php?id=1254"
              class="text-blue-600"
              >Pengembangan Aplikasi Web</a
            >
          </p>
          <div class="mt-40 lg:mt-64">
            <p class="font-display text-base text-slate-900">Di dukung oleh:</p>
            <ul
              role="list"
              class="mt-8 flex items-center justify-center gap-x-8 sm:flex-col sm:gap-x-0 sm:gap-y-10 xl:flex-row xl:gap-x-12 xl:gap-y-0"
            >
              <li>
                <ul
                  role="list"
                  class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0"
                >
                  <li class="flex">
                    <img
                      alt="TailwindCSS"
                      loading="lazy"
                      width="158"
                      height="48"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/tailwindcss.svg"
                      style="color: transparent"
                    />
                  </li>
                  <li class="flex">
                    <img
                      alt="Flask"
                      loading="lazy"
                      width="105"
                      height="48"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/flask.svg"
                      style="color: transparent"
                    />
                  </li>
                  <li class="flex">
                    <img
                      alt="Python"
                      loading="lazy"
                      width="127"
                      height="48"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/python.svg"
                      style="color: transparent"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <ul
                  role="list"
                  class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0"
                >
                  <li class="flex">
                    <img
                      alt="HTML5"
                      loading="lazy"
                      width="138"
                      height="48"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/html5.svg"
                      style="color: transparent"
                    />
                  </li>
                  <li class="flex">
                    <img
                      alt="CSS"
                      loading="lazy"
                      width="136"
                      height="46"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/CSS.svg"
                      style="color: transparent"
                    />
                  </li>
                  <li class="flex">
                    <img
                      alt="MySql"
                      loading="lazy"
                      width="147"
                      decoding="async"
                      data-nimg="1"
                      src="../static/img/mysql.svg"
                      style="color: transparent"
                    />
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <script src="./../static/js/script.js"></script>
  </body>
</html>
