<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/output.css" rel="stylesheet" />
  </head>
  <body class="container">
    <section class="h-full w-full bg-slate-500">
      <nav class="m-3 flex items-center justify-between px-8 py-3">
        <p class="items-center justify-center text-xl text-white">
          Web Inventory
        </p>
        <div class="flex text-sm text-white">
          <ul class="mr-2 flex items-center">
            <li class="mr-2">Home</li>
            <li>About</li>
          </ul>
          <button class="mr-2 p-2">Log in</button>
          <button class="p-2">Register</button>
        </div>
      </nav>
    </section>
  </body>
</html>
