<!-- file main.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" coontent="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/style.css">
        <title>Inventaris Toko Besi</title>
    </head>
    <body>
        <div class="nav">
            
        </div>
        <section id="hero">
            <p>Halo gaes, my name is Anubaly</p>
        </section>
        <script src="../static/main.js"></script>
    </body>
</html>