<!DOCTYPE html>
<html>
  <head>
    <title>Aplikasi Warung</title>
  </head>
  <body>
    <h1>Aplikasi Warung</h1>

    <form method="POST" action="/">
      <label for="nama_barang">Nama Barang:</label>
      <input type="text" id="nama_barang" name="nama_barang" /><br />

      <label for="jenis_transaksi">Jenis Transaksi:</label>
      <select id="jenis_transaksi" name="jenis_transaksi">
        <option value="masuk">Barang Masuk</option>
        <option value="keluar">Barang Keluar</option></select
      ><br />

      <label for="jumlah">Jumlah:</label>
      <input type="text" id="jumlah" name="jumlah" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
